extends layout

block content
	center
		h1= title
	div(style='width:200px; border: 1px solid grey; padding: 10px; display:inline-block; margin:10px 0 0 10px;')
		div
			center
				img(src='/images/bars-chart.png', style='max-width: 64px; max-height:64px;')
		div
			center
				a(href='/games/totalProduced/view') Total produced games by company



